@import "tailwindcss";

@theme {
  --color-background: #F2F2F2;
  --color-foreground: #1A1A1A;
  --color-border: #E5E5E5;
  --color-ring: #21A179;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
